.header__burger,
.nav__burger {
    display: none;
}
nav{
    .header__lang {
        display: none;
    }
}
@media screen and(max-width:760px){
     nav{
        width: 375px;
        height: 812px;
        .header__lang{
            display: block;
            transform: rotate(90deg);
            padding: 0.5rem 0.5rem 0 0.5rem;
            label{
                width: 321px;
                height: 689px;
                margin: auto;
    
            }
        }

     }
}

.nav {
    border-bottom: 1px solid #828282;
    line-height: 5.5rem;
    text-align: center;
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        li {
            a {
                font-family: "Gilroy-Bold";
                font-size: 1.125rem;
                line-height: 1.375;
                font-weight: bold;
                color: #828282;
                &.active {
                    color: #070707;
                }
            }
        }
    }
    
    @media screen and (max-width: 760px) {
        // display: none;
        display: flex;
        flex-direction: row;
        border: none;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .header__lang {
            display: block;
            background-color: #070707;
        }
    }
}

// header {
// max-height: 48rem;
// }

.header {
    display: flex;
    flex-direction: column-reverse;
    &__content {
        margin-top: 2.5rem;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        @media screen and (max-width:760px) {
            flex-direction: column;
            width: 317px;
            height: 170px;
            .header__name{

            }
            .header__burger{
                display: block;
                & span{
                    width: 33px;
                    height: 3.84px;
                }
            }
        }
    }
    &__name {
        font-family: "Gilroy-Bold";
        font-size: 47.3392px;
        line-height: 59px;
        color: #070707;
        height: 118px;
    }
    &__job {
        font-family: "Gilroy-Medium";
        font-size: 18px;
        line-height: 22px;
        color: #070707;
    }
    &__lang {

        transform: rotate(-90deg);
        // align-content: flex-end;
        label {
            & input {
                display: none;
                &:checked ~ .checkmark {
                    color: #070707;
                }
            }
            & .checkmark {
                color: #828282;
                padding: 0 0.5rem 0.5rem 0.5rem;
            }
        }
    }
    &__image {
        position: relative;
        overflow: hidden;
        max-width: 59rem;
        width: 100%;
        height: 32rem;
        margin: auto;
        & img {
            top: 0;
            position: absolute;
            /* margin: 2rem auto 6rem; */
            // width: 1006px;
            zoom: (current screen width)/ (480);
            // height: 1004px;
            object-fit: cover;
            transform: translateY(45px);
        }
        @media screen and (max-width: 999px) and (min-width: 760px) {
            height: 43rem;
            max-width: 74rem;
            display: flex;
            justify-content: center;
            img {
                width: 791px;
                height: 988px;
                object-fit: cover;
                transform: translateY(53px);
            }
        }
        @media screen and (max-width: 760px) {
            width: 316.5px;
            height: 478px;
            display: flex;
            justify-content: center;
            img {
                width: 316.5px;
                height: 478px;
                object-fit: cover;
                transform: translateY(53px);
            }
        }
    }
    &__design {
        max-height: 8rem;
        min-height: 5rem;
        height: auto;
    }
    @media screen and(max-width:760px) {
        .header__lang{
            display: none;
        }
    }
}

#eng ~ span {
    border-left: 2px solid #070707;
}
