include ../header
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        title Document
    body 
        +header
        #about
            .container
                .about 
                    .about__wrapper 
                        .about__title.title About me
                        .about__text.text
                            p.about__text-text Hi, I'm Denis – UX/UI designer from Minsk. I'm interested in design and everything connected with it.
                            p.about__text-text I'm studying at courses "Web and mobile design interfaces" in IT-Academy.    
                            p.about__text-text Ready to implement excellent projects with wonderful people.

        #skills.skill
            .container 
                .skill__wrapper 
                    .skill__title Skills
                    .skill__subtitle I work in such programs as 
                    .skill__cards 
                        .skill__card 
                            .skill__card-img 
                                img(src='/assets/images/PS.jpg', alt="")
                            .skill__card-title Adobe Photoshop
                            .skill__card-rating 
                                .skill__card-full_star 
                                    img(src="/assets/images/BlackStar.svg", alt="")
                                .skill__card-full_star 
                                    img(src="/assets/images/BlackStar.svg", alt="")
                                .skill__card-full_star 
                                    img(src="/assets/images/BlackStar.svg", alt="")
                                .skill__card-full_star 
                                    img(src="/assets/images/BlackStar.svg", alt="")
                                .skill__card-empty_star 
                                    img(src="/assets/images/WhiteStar.svg", alt="")                 
                        .skill__card 
                            .skill__card-img 
                                img(src='/assets/images/AAE.png', alt="")
                            .skill__card-title Adobe Illustrator
                            .skill__card-rating 
                                .skill__card-full_star 
                                    img(src="/assets/images/BlackStar.svg", alt="")
                                .skill__card-full_star 
                                    img(src="/assets/images/BlackStar.svg", alt="")
                                .skill__card-full_star 
                                    img(src="/assets/images/BlackStar.svg", alt="")
                                .skill__card-full_star 
                                    img(src="/assets/images/BlackStar.svg", alt="")
                                .skill__card-empty_star 
                                    img(src="/assets/images/WhiteStar.svg", alt="")                
                        .skill__card 
                            .skill__card-img 
                                img(src='/assets/images/AFP.png', alt="")
                            .skill__card-title Adobe After Effects
                            .skill__card-rating 
                                .skill__card-full_star 
                                    img(src="/assets/images/BlackStar.svg", alt="")
                                .skill__card-full_star 
                                    img(src="/assets/images/BlackStar.svg", alt="")
                                .skill__card-full_star 
                                    img(src="/assets/images/BlackStar.svg", alt="")
                                .skill__card-full_star 
                                    img(src="/assets/images/BlackStar.svg", alt="")
                                .skill__card-empty_star 
                                    img(src="/assets/images/WhiteStar.svg", alt="") 
                        .skill__card 
                            .skill__card-img 
                                img(src='/assets/images/FIGMA.png', alt="")
                            .skill__card-title Figma
                            .skill__card-rating 
                                .skill__card-full_star 
                                    img(src="/assets/images/BlackStar.svg", alt="")
                                .skill__card-full_star 
                                    img(src="/assets/images/BlackStar.svg", alt="")
                                .skill__card-full_star 
                                    img(src="/assets/images/BlackStar.svg", alt="")
                                .skill__card-full_star 
                                    img(src="/assets/images/BlackStar.svg", alt="")
                                .skill__card-empty_star 
                                    img(src="/assets/images/WhiteStar.svg", alt="")   
            
        #portfolio.portfolio 
            .container
                .portfolio__wrapper
                    .portfolio__title Portfolio

                    .portfolio__project
                        .portfolio__project-img 
                            img(src="/assets/images/HomePage.png", alt="").portfolio-image  
                        .portfolio__project-link 
                            a(href="vk.com") Online fashion store - Homepage
                    .portfolio__project
                        .portfolio__project-img 
                            img(src="/assets/images/braun_web.png", alt="").portfolio-image 
                        .portfolio__project-link 
                            a(href="vk.com") Reebok Store - Concept
                    .portfolio__project
                        .portfolio__project-img 
                            img(src="/assets/images/reebok_web.png", alt="").portfolio-image  
                        .portfolio__project-link 
                            a(href="vk.com") Braun Landing Page - Concept                  

        #footer.contact
            .container
                .contact__wrapper 
                    .contact__title Contacts
                    .contact__subtitle Want to know more or just chat? You are welcome!    
                    .contact__button 
                        button.btn Send message
                    .contact__icons 
                        .contact__icons-LI 
                            img(src="/assets/images/LinkedIN.png", alt="")
                        .contact__icons-INST
                            img(src="/assets/images/Instagram.png", alt="")             
                        .contact__icons-BA 
                            img(src="/assets/images/Basket.png", alt="")
                        .contact__icons-BE 
                            img(src="/assets/images/Behance.png", alt="") 
                    .contact__link 
                        a(href="") Like me on LinkedIn, Instagram, Behance, Dribble            
