$white: #ffffff;
$black:#070707;
$grey:#828282;


// ? Обнуление элементов
html {
    scroll-behavior: smooth;
    max-width: 100%;
    font-family: "Gilroy-Bold";
}

ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
button,
p {
    text-decoration: none;
    color: inherit;
    margin: 0;
    list-style: none;
    padding: 0;
    font-weight: 400;
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    color: $white;
    background: linear-gradient(360deg, #211F20 0%, #44403F 100%);
    background-repeat: no-repeat;
}

// ? Обнуление элементов 

$minWidth: 450px;
$maxWidth: 1920px;
$maxWidthContainer:950px;

.container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0 15px;
}