$white: #ffffff;
$black:#070707;
$grey:#828282;


$minWidth: 28.125rem;
$maxWidth: 120rem;
$maxWidthContainer:59rem;

// ? Обнуление элементов

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    font-family: "Gilroy-Bold";
}

ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
button,
p {
    text-decoration: none;
    color: inherit;
    margin: 0;
    list-style: none;
    padding: 0;
    font-weight: 400;
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
}
