include ./navbar
mixin header()
    header
        .container 
            .header 
                -
                    var nav_list=[
                        {
                            name:"About me",
                            link : "#about"
                            },
                        {
                            name:"Skills",
                            link:"#skills"
                            },
                        {
                            name:"Portfolio",
                            link:"#portfolio"
                            },
                        {
                            name:"Contacts",
                            link:"#footer"
                            }
                            ]
                
                .header__title 
                    .header__content
                        .header__name 
                            h2 Denis<br> Novik
                        .header__job 
                            | UX | UI designer<br>24 years old, Minsk
                        .header__lang 
                            label.container
                                input(type="radio" name="lang" id="ru" )
                                span.checkmark 
                                    |RU
                            label.container
                                input(type="radio" name="lang" id="eng" checked)
                                span.checkmark
                                    |ENG
                .header__image     
                        img(src="../assets/images/full_novik.png" alt="novik" )
                .header__design
                .header__burger
                    span 
                    span 
                    span 
                +nav(nav_list)
