mixin nav(nav_list)
    nav 
        .container 
            .nav 
                //- |yivybhjhuibui;ubobbbbbb
                ul
                    li= list_item
                            a(href="./main.html" class="active")
                                |Home
                    each link in nav_list

                        li= list_item
                            a(href= link.link)= link.name 
