mixin nav(nav_list)
    nav 
        .container 
            .nav 
                ul
                    li= list_item
                            a(href="./main.html" class="active")
                                |Home
                    each link in nav_list
                        li= list_item
                            a(href= link.link)= link.name 
                nav__burger 
                    span 
                    span
            .header__lang 
                label.container
                    input(type="radio" name="lang" id="ru" )
                    span.checkmark 
                        |RU
                label.container
                    input(type="radio" name="lang" id="eng" checked)
                    span.checkmark
                        |ENG
                    
                                

    
                
             
            